.main-container {
    margin-top: 2em;
    margin-bottom: 1em;
}

.footer-links {
    margin-top: 2em;
}

.footer-links > div > a {
    display: block;
}

.footer-links > div > a:hover {
    text-decoration: underline;
}

.fb-like-container {
    text-align: center;
    margin-top:1em;
}

.exception_message, .exception_trace, pre {
    border:1px solid gray;
    padding:1em;
    margin-bottom:1em;
    overflow:auto;
    background:#eee;
    color:black;
}

#call-to-action {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.page-header h1 {
    font-size: 32px;
    color: #0c2e8a;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 20px;
}

.page-header h1::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #50d8af;
    bottom: 0;
    left: 0;
}

.section-header h3 {
    font-size: 24px;
    color: #0c2e8a;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 16px;
}

.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #50d8af;
    bottom: 0;
    left: 0;
}

ul.list li i {
    font-size: 20px;
    padding-right: 4px;
    color: #50d8af;
}

ul.list {
    list-style: none;
    padding: 0;
}

ul.list li {
    padding-bottom: 10px;
}

/* Technology Section
--------------------------------*/
#technology {
  padding: 30px 0;
}

#technology img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#technology img:hover {
  opacity: 1;
}

#technology .owl-nav, #technology .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#technology .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#technology .owl-dot.active {
  background-color: #50d8af;
}

.margen-bottom{
    margin-bottom: 20px;
}